<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css"
	th:href="@{/css/style.css}">
<title>Pay My Buddy - Transfer</title>
</head>

<body>
	<header>
		<div th:replace="fragments :: header"></div>
	</header>
	<div class="main_transfer">
		<div class="connection">
			<div class="add-connection">
				<h4>Send Money</h4>
				<form action="#">
					<button type="submit" class="btn btn-primary"
						formaction="myConnections">Add connection</button>
				</form>
			</div>
			<form action="#" class="form-select" method="post" th:object="${transaction}">
				<select class="form-control select" id="dropDownList" th:field="*{recepient.userName}" required>
					<option value="0">Select A Connection</option>
					<option th:each="connection : ${connections}"
						th:value="${connection.userName}" th:text="${connection.userName}"></option>
				</select> 
				<input class="quantity" name="0" min="0" value="1" type="number" step=".01" th:field="*{amount}" required>
				<button type="submit" class="btn btn-success">Pay</button>
			</form>
		</div>
		<div class="transaction">
			<h4>My transactions</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Connection</th>
						<th>Description</th>
						<th>Date</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${transactions}">
						<td><span th:switch="${transaction.description}">
								<span th:case="Credit" th:text="${transaction.sender.getUserName}">Connection</span>
								<span th:case="Debit" th:text="${transaction.recepient.getUserName}">Connection</span>
							</span></td>
						<td><span th:text="${transaction.description}">Description</span></td>
						<td><span th:text="${transaction.date}">Date</span></td>
						<td><span th:text="${transaction.amount}">Amount</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>